.photo-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 3rem 0px;

}


.photo-list:after {
  content: "";
  flex: 0 1 30%;
  margin: 5px;
}